body {
  font-family: monospace;
  padding: 10px;
}
input[type="text"] {
  display: inline-block;
  height: 16px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 10px;
  line-height: 16px;
  color: #555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;

  width: 200px;
}
.tagz-wrap {
  border: 1px solid;
}
.tagz {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}
.tagz li {
  height: 30px;
}
.tagz .tag span {
  background-color: #eee;
  padding: 5px 5px 7px;
  margin-top: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 10px;
}
.tagz .tag a {
  text-decoration: none;
  color: #fff;
  background-color: #ccc;
  padding: 1px 4px 3px;
  margin-left: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.tagz .tag .close {
  width: 7px;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}